body{

    position: relative;
    overflow: hidden;
}

.c-all{

    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.c-contacts{

    width: 35%;
    height: 100vh;
    background-color: #111b21;
    border-right: 2px solid #3f4e57;
}

.c-chat{

    width: 65%;
    height: 100vh;
    background-color: #001625;
    display: flex;
    flex-direction: column;
    position: relative;
}

.c-self{

    width: 100%;
    height: 75px;
    background-color: #202c33;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    border-bottom: 2px solid #262f34;
    padding: 0px 10px;
    position: relative;
}

.c-search{

    height: 0%;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: #001625;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    transition: height, 0.1s;
    padding: 0px 10px;
}

.svg-quit{

    margin-left: auto;
    cursor: pointer;
    transition: all, 0.2s;
}

.svg-quit:hover{

    transform: scale(1.2);
}

.input-search{

    width: 100% !important;
}

.c-img{

    width: 60px;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-img img{

    width: 70px;
}

.c-self h1{

    width: 100%;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search{

    cursor: pointer;
    transition: all, 0.2s;
}
.search:hover{

    transform: scale(1.2);
}

.contacts{

    height: 90vh;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
::-webkit-scrollbar{

    background-color: transparent;
    width: 7px;
}

.not_scrolling::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scrolling::-webkit-scrollbar-thumb {

    background-color: rgba(255, 255, 255, 0.137);
}

.contact{

    display: flex;
    gap: 7px;
    color: white;
    padding: 10px 3px;
    border-radius: 3px;
    border-bottom: 1px solid #262f34;
    cursor: pointer;
    transition: background-color, 0.2s;
    position: relative;
}

.contact-empty{

    display: flex;
    gap: 7px;
    color: white;
    padding: 10px 3px;
    border-radius: 3px;
    border-bottom: 1px solid #262f34;
    transition: background-color, 0.2s;
    position: relative;
}

.pending{

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 132, 255, 0.767);
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}

.c-img-contact{

    overflow: hidden;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: black;
}

.c-img-contact img{

    width: 70px;
    height: auto;
}

.c-name-message{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    overflow: hidden;
}

.c-name-message h1{

    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.c-name-message p{

    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-chat{

    width: 100%;
    height: 75px;
    background-color: #202c33;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    gap: 20px;
    color: white;
    overflow: hidden;
}

.c-messeges{

    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 90px;
    color: white;
    overflow: auto;
}

.messege{

    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: #53070f;
    border-radius: 10px;
}

.text-messege{

    text-align: justify;
}

.hour-messege{

    align-self: flex-end;
    color: rgb(196, 196, 196);
}

.messege-self{

    align-self: end;
}

.self{

    background-color: rgb(0, 8, 54);
}

.c-send{

    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #202c33;
    bottom: 0%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-send{

    width: 90% !important;
}

#svg-send{

}

.menu{

    height: 100vh;
    width: 100px;
    background-color: #3f4e57;
    position: absolute;
    right: 0%;
    z-index: 101;
    transform: translateX(100%);
    transition: all, 0.1s;
}

.menu ul{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

.menu ul li{

    top: 100px;
    color: rgb(230, 230, 230);
}

.tuerca{

    position: absolute;
    top: 15px;
    left: -35px;
    color: rgb(230, 230, 230);
    background-color: #3f4e57;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}

svg{

    cursor: pointer;
    transition: all, 0.2s;
}

.svg:hover{

    transform: scale(1.1);
}

.c-search-contacts{

    width: 550px;
    height: 550px;
    background-color: #202c33;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: white;
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    border: 1px solid #2a353b;
}

.c-input{

    background-color: #202c33;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #3f4e57;
}

.c-header-search{

    background-color: #202c33;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.c-header-search p{

    font-size: 20px;
}

.results{

    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 390px;
    border-bottom: 2px solid #3f4e57;
    border-top: 2px solid #3f4e57;
}

.result{

    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    min-height: 60px !important;
    background-color: #3f4e57;
    border-radius: 7px;
    overflow: hidden;
    transition: all, 0.1s;
    padding-left: 10px;
}

.c-img-result{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.c-img-result img{

    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-result h1{

    font-size: 24px;
}

.c-btn-result{

    width: 50px;
    height: 60px;
    background-color: rgb(0, 21, 143);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.c-btn-result:hover{

    background-color: rgba(0, 28, 185, 0.938);
}

.c-all-search-contact{

    width: 100%;
    height: 100%;
    position: relative;
}

.c-svg-exit{

    width: 20px;
    height: 20px;
    position: absolute;
    top: 0.5%;
    right: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all, 0.05s;
}

.c-svg-exit:hover{

    transform: scale(1.15);
}